body{
    background-color: royalblue;
}
section{
   background-color: white;
   height: 420px;
   border-radius: 20px;
   padding: 30px 10px 0px 10px;
   font-family: Arial, Helvetica, sans-serif;
   width: 313px;
   margin: auto;
  
}


h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8em;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.521);
    text-align: center;
}
#placar{
    height: 100px;
    width: 170px;
    
   
    
    
}
input.buttom{
    background-color: royalblue;
    color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 2px black;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.712);
font-size: 0.5em;


}
p#label{
    font-size: 1.0em;
    
}
img{
    height: 120px;
    padding-left: 30px;
   
}
div#pi{
    margin-top: -10px;
    columns: 2;
}
div#res{
margin-top: -110px;

}
#res1 {
    
    padding-top: 5px;
    font-size: 1.0em;
    
    border-radius: 10px;
    
    padding-left: 15px;
    padding-bottom: 5px;
    
    color: white;
}
#res2 {
    padding-top: 5px;
    
    border-radius: 10px;
    
    padding-left: 15px;
    padding-bottom: 5px;
    margin-top: -14px;
    color: white;
}
#res3 {
    padding-top: 5px;
    font-size: 1.0em;
    
    border-radius: 10px;
    
    padding-left: 15px;
    padding-bottom: 5px;
    margin-top: -14px;
    color: white;
}
#res4 {
    padding-top: 5px;
    font-size: 1.0em;
    
    border-radius: 10px;
    
    padding-left: 15px;
    padding-bottom: 5px;
    margin-top: -14px;
    color: white;
}
span#amarelo{
    color: rgb(167, 167, 29);
}
span#azul{
    color: blue;
}
span#vermelho{
    color: red;
}

.radio{
    font-size: 1.0em;
    margin: -3px;
}